body{
    display: flex;
    justify-content: center;
}
.container{
    width: 300px;
    height: 600px;
    margin: 20px;
    background-color: darkgrey;
    justify-content: center;
}
.row{
    justify-content: center;
}
.text-center{
    margin-top: 0;
    text-align: center;
}
.form-check{
    /*text-align: center;*/
    margin-left: 30%;
    width: 80%;
}
.pass{
    margin: 0 ;
}
.email{
    margin-bottom: 0;
}
.btn{
    width: 50%;
}
.logo{
    width: 80px;
    height: 70px;
}